extends layout

block header
  //- exclude the header from this file
block content
  img(src="images/last.jpg")
  hr
  p
    Last Modified #{modified}
    a.btn.btn-primary.pull-right(href="last") Refresh
