doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  body
    .container
      div.page-header
        h1.logo Welcome to PiCam*p
          a.pull-right.btn.btn-primary.btn-lg.active(href="/login") Login
      block content
